* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;

}

aside {
    background-color: #f0f0f0;
    padding: 20px;
    width: 40%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.profile {
    margin-bottom: 20px;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.social-media {
    margin-top: 20px;
    text-align: center;
    margin-top: auto;
}

.social-link {
    margin-right: 10px;
}

.social-link img {
    width: 30px;
    height: 30px;
}

main {
    padding: 20px;
    width: 60%;
    margin-left: 40%;
}

section {
    margin-bottom: 40px;
}