---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import RecentProjects from "@/components/RecentProjects.astro";
import { SITE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title={SITE.title}
  description={SITE.description}
  type="website"
  jsonLd={{ type: "website" }}
>
  <Header slot="header" />
  <main class="w-full mx-auto flex grow flex-col gap-y-6 px-4 max-w-3xl">
    <Hero />
    <RecentProjects />
    <RecentPosts />
  </main>
</Layout>
