---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import RecentProjects from "@/components/RecentProjects.astro";
import { SITE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title={SITE.title}
  description={SITE.description}
  type="website"
  jsonLd={{ type: "website" }}
>
  <Header slot="header" />
  <main class="w-full mx-auto flex grow flex-col px-4 max-w-3xl">
    <Hero />

    <!-- Latest Insights -->
    <section class="py-12 space-y-8">
      <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold">Latest Insights</h2>
        <Link href="/blog" class="text-primary hover:underline"> Show more → </Link>
      </div>
      <RecentPosts />
    </section>

    <!-- Recent Projects -->
    <section class="py-12 space-y-8">
      <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold">Recent Projects</h2>
        <Link href="/projects" class="text-primary hover:underline"> View all → </Link>
      </div>
      <RecentProjects />
    </section>
  </main>
</Layout>
