---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import RecentProjects from "@/components/RecentProjects.astro";
import { SITE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
---

<Layout title={`${SITE.title} - ${SITE.description}`}>
  <Header />
  <main class="w-full mx-auto flex grow flex-col gap-y-6 px-4 max-w-3xl">
    <Hero />
    <RecentProjects />
  </main>
</Layout>
